Calculatorclient/web/WEB-INF/wsdl/localhost_8080/Calculatorservice/Calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://unique.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://unique.com/" name="Calculator">
<types>
<xsd:schema>
<xsd:import namespace="http://unique.com/" schemaLocation="http://localhost:8080/Calculatorservice/Calculator?xsd=1"/>
</xsd:schema>
</types>
<message name="getNumber">
<part name="parameters" element="tns:getNumber"/>
</message>
<message name="getNumberResponse">
<part name="parameters" element="tns:getNumberResponse"/>
</message>
<message name="getSubtraction">
<part name="parameters" element="tns:getSubtraction"/>
</message>
<message name="getSubtractionResponse">
<part name="parameters" element="tns:getSubtractionResponse"/>
</message>
<message name="getDivision">
<part name="parameters" element="tns:getDivision"/>
</message>
<message name="getDivisionResponse">
<part name="parameters" element="tns:getDivisionResponse"/>
</message>
<message name="getMultiplication">
<part name="parameters" element="tns:getMultiplication"/>
</message>
<message name="getMultiplicationResponse">
<part name="parameters" element="tns:getMultiplicationResponse"/>
</message>
<portType name="Calculator">
<operation name="getNumber">
<input wsam:Action="http://unique.com/Calculator/getNumberRequest" message="tns:getNumber"/>
<output wsam:Action="http://unique.com/Calculator/getNumberResponse" message="tns:getNumberResponse"/>
</operation>
<operation name="getSubtraction">
<input wsam:Action="http://unique.com/Calculator/getSubtractionRequest" message="tns:getSubtraction"/>
<output wsam:Action="http://unique.com/Calculator/getSubtractionResponse" message="tns:getSubtractionResponse"/>
</operation>
<operation name="getDivision">
<input wsam:Action="http://unique.com/Calculator/getDivisionRequest" message="tns:getDivision"/>
<output wsam:Action="http://unique.com/Calculator/getDivisionResponse" message="tns:getDivisionResponse"/>
</operation>
<operation name="getMultiplication">
<input wsam:Action="http://unique.com/Calculator/getMultiplicationRequest" message="tns:getMultiplication"/>
<output wsam:Action="http://unique.com/Calculator/getMultiplicationResponse" message="tns:getMultiplicationResponse"/>
</operation>
</portType>
<binding name="CalculatorPortBinding" type="tns:Calculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSubtraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDivision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMultiplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calculator">
<port name="CalculatorPort" binding="tns:CalculatorPortBinding">
<soap:address location="http://localhost:8080/Calculatorservice/Calculator"/>
</port>
</service>
</definitions>