Calculatorclient/src/conf/xml-resources/web-service-references/Calculator/wsdl/localhost_8080/Calculatorservice/Calculator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://unique.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://unique.com/">

<xs:element name="getDivision" type="tns:getDivision"/>

<xs:element name="getDivisionResponse" type="tns:getDivisionResponse"/>

<xs:element name="getMultiplication" type="tns:getMultiplication"/>

<xs:element name="getMultiplicationResponse" type="tns:getMultiplicationResponse"/>

<xs:element name="getNumber" type="tns:getNumber"/>

<xs:element name="getNumberResponse" type="tns:getNumberResponse"/>

<xs:element name="getSubtraction" type="tns:getSubtraction"/>

<xs:element name="getSubtractionResponse" type="tns:getSubtractionResponse"/>

<xs:complexType name="getSubtraction">
<xs:sequence>
<xs:element name="num1" type="xs:float"/>
<xs:element name="num2" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubtractionResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMultiplication">
<xs:sequence>
<xs:element name="num1" type="xs:float"/>
<xs:element name="num2" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMultiplicationResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDivision">
<xs:sequence>
<xs:element name="num1" type="xs:float"/>
<xs:element name="num2" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDivisionResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNumber">
<xs:sequence>
<xs:element name="num1" type="xs:int"/>
<xs:element name="num2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNumberResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>